$speed: 0.25s;
$border-radius: 12px;
$ui-radius: 4px;
$ui-height: 40px;
$light: #e5e6ef;
$hover: #d3eeff;
$mid: #5a72b5;
$dark: #121943;
$box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.04);
$deep-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.2);
$focus-ring: 0 0 0 2px $light, 0 0 0 4px $dark;
$border: 1px solid $mid;
$color-primary: #8000b3;
$color-secondary: #00b30c;
$color-neutral: #9b9b9b75;
$slant: 4px;
$border-button-width: 2px;
