@use "sass:math";

$stroke-width: 1;
$stroke-length: calc((100% - #{$stroke-width * 4px}) * 3.14);

.countdown {
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(206 98 248), #66008f);
  border-radius: 50%;
  box-shadow: 14px 0 18px rgba(128, 0, 179, 0.4),
    8px 2px 4px rgba(128, 0, 179, 0.4), inset 0 1px #d9a0ef,
    inset 10px 0.6px 2px #66008f4a;
  color: #fff;
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
  transform: rotateY(45deg);

  &::after {
    font-size: 1em;
  }

  svg {
    height: 200%;
    margin-left: -8px;
    overflow: unset;
    position: absolute;
    width: 200%;

    :global(.outline-countdown-progress),
    :global(.outline-countdown) {
      fill: none;
      filter: drop-shadow(1px 1px 2.2px #8000b3);
      r: calc(50% - #{$stroke-width * 2px});
      stroke-dasharray: $stroke-length;
      stroke-linecap: round;
      stroke-width: #{$stroke-width}px;
    }

    :global(.outline-countdown-progress) {
      stroke: #8c79e2;
      stroke-dashoffset: calc($stroke-length * var(--timer-progress, 1));
      transition: stroke-dashoffset 0.3s ease;
    }

    :global(.outline-countdown) {
      stroke: #4f4f4fa1;
    }

    text {
      fill: #fff;
      filter: drop-shadow(1px 1px 2px #444) drop-shadow(-1px 0px 2px #888888);
      font-size: 2em;
      font-weight: bold;
      transform: translate(8px, 2px);
    }
  }
}
