@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

.game {
  font-family: "Orbitron", monospace;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  padding: 20px;

  :global(.question) {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    margin-left: 16px;
    width: 100%;
  }

  h2 {
    position: relative;
    margin: 0 0 32px;
    display: flex;
    min-height: 8rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    width: 92%;
    padding-left: 8%;
    padding-right: 16%;

    &::before {
      position: absolute;
      padding: 0.2em;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      border-radius: 0.4em;
      box-shadow: 0 0 0 0.1em currentcolor;
      background: currentcolor content-box;
      color: rgba($color-primary, 0.8);
      content: "";
      transform: skewX(12deg);
      inset: 0;
      z-index: -1;
    }
  }

  pre {
    background-color: #282828;
    width: calc(100% - 40px);
    margin: 0 auto 60px;
    left: 2px;
    position: relative;
    padding: 16px 8px;
    border-radius: 4px;
  }

  :global(.question-alternatives) {
    counter-reset: alternative-index;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5em;
  }

  :global(.question-alternative) {
    counter-increment: alternative-index;
    background-color: $color-primary;
    transform: skew(-25deg);
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;

    border-color: #a8ecff;
    background-image: linear-gradient(
      to bottom,
      rgba(48, 138, 255, 0.5),
      rgba(29, 96, 240, 0.5)
    );
    box-shadow: 0 0 18px rgba($color-primary, 0.5),
      0 5px 4px rgba($color-primary, 0.5), inset 0 1px #ffeca8,
      inset 0 -1px #ffeca8;

    &:hover {
      background-color: $color-secondary;
      box-shadow: 0 0 70px rgba($color-secondary, 0.8),
        0 5px 20px rgba($color-secondary, 0.8), inset 0 1px #a8ecff,
        inset 0 -1px #a8ecff;
    }

    &::before {
      position: absolute;
      top: -1em;
      left: -1em;
      padding: 0.2em;
      width: 4em;
      height: 4em;
      border-radius: 0.4em;
      transform: rotate(90deg);
      box-shadow: 0 0 0 0.1em currentcolor;
      background: currentcolor content-box;
      color: #d8d8d873;
      content: "";
    }

    &::after {
      content: counter(alternative-index, upper-alpha);
      display: inline-block;
      transform: skew(25deg);
      font-weight: bold;
      left: 1.3em;
      position: absolute;
    }
  }

  :global(.aside) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;

    :global(.avatar) {
      padding: 0;
      margin: 0;

      height: auto !important;
      max-height: 100%; /* ensures that it doesn't overflow */
      max-width: 100%; /* ensures that it doesn't overflow */
      width: 100% !important;
      user-select: none;

      canvas {
        height: auto;
        max-height: 100%; /* ensures that it doesn't overflow */
        max-width: 100%;
        width: auto;
      }
    }
  }

  :global(.aside-topbar) {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 68px 48px 0 78px;
    position: absolute;
    width: 100%;

    :global(.score) {
      text-shadow: 0 0 10px #b44bdd, 0 0 20px #b44bdd, 0 0 30px #b44bdd;
      font-size: 2em;
      font-weight: bold;
      padding: 0 18px;
      position: relative;
      overflow: hidden;
      width: 100%;

      &::before {
        content: "";
        box-shadow: 0 0 70px #b44bdd38, 0 5px 20px #b44bdd38,
          inset 0 0px 4px #b44bdd, inset 0 0px 4px #b44bdd;
        height: calc(100% + 4px);
        left: -30px;
        padding: 0 30px;
        position: absolute;
        top: -2px;
        width: 100%;
      }

      &::after {
        content: " XP";
        font-weight: normal;
      }
    }

    :global(.countdown) {
      right: 28px;
    }
  }
}
